<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="https://techterms.com/img/xl/server_129.jpg" title="" alt=""></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc">Scopri i servizi</h1>
          <p class="d-none d-lg-block">Scopri cosa facciamo e tutti i nostri servizi!</p>
          <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="/about/">About</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h5 class="card-title">Onlygabbyme</h5>
            <p class="card-text">Scopri "onlygabbyme".</p>
            <a class="read-more" href="/onlygabbyme/">
              <span class="text">Leggi di più</span>
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
